/* Variables */
:root{
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #142664;
    --secondary-color: #00E6B3;
    --tertiary-color: #FF2E93;
    --primary-shadow: #8d8baf;
    --secondary-shadow: #69a18e;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables END */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: none;
    margin: none;
    text-align: center;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
    

}

.buttons {
    display: flex;
    margin: 10px;
    justify-content: center;
    gap: 100px;
    margin: 60px 0;
}

button {
    margin: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: none;
}

img {
    width: 130%;
    height: auto;
}

.scoreboard {
    display: flex;
    justify-content: center;
    margin-bottom: var(--bottom-margin-2);
    gap: 100px;
}
.scores {
    text-align: center;
    font-size: larger;
    min-width: 150px;
}

#player-score, #cpu-score {
    font-size: 64px;
    font-weight: 900;
    
}

#round-result {
    font-size: 30px;
}

#game-result {
    font-size: 64px;
    color: var(--tertiary-color)
}