/* Variables */
:root{
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: black;
    --secondary-color: #7B4F17;
    --tertiary-color: #6D4211;
    --primary-shadow: #8d8baf;
    --secondary-shadow: #69a18e;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}
/* Variables END */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: none;
    margin: none;
    text-align: center;
    font-family: initial;
    background-image: url(assets/img/bg2.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center;
}

h1 {
    margin-top: 40px;
    font-size: 4em;
    color: white;

}

.rules {
    font-size: 24px;
    font-weight: 300;
    color: beige;
    margin: 20px;
}

.buttons {
    display: flex;
    margin: 10px;
    justify-content: center;
    gap: 100px;
    margin: 60px 0;
}

button {
    margin: 10px;
    padding: 30px 53px;
    background-color: black;
    border: none;
    box-shadow: none;
    background-image: url(assets/img/compare_users.gif);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

img {
    width: 130%;
    height: auto;
}

.container {
    background-image: url(assets/img/backdrop_745.gif);
    background-repeat: repeat-y;
    background-position: center;
    background-size: auto;
    color: var(--secondary-color)
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.scroll-top {
    background-image: url(assets/img/backdrop_765_bottom\ \(1\).gif);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding: 18px;
}

.scroll-bottom {
    background-image: url(assets/img/backdrop_765_bottom.gif);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    padding: 20px;
}

.scores {
    text-align: center;
    font-size: larger;
    min-width: 150px;
}

#player-score, #cpu-score {
    font-size: 64px;
    font-weight: 900;
    color: var(--primary-color);
}

#round-result {
    font-size: 30px;
    font-weight: 600;
    color: var(--tertiary-color);
}

#game-result {
    font-size: 64px;
    color: var(--tertiary-color);
}